body{
    background: rgba(0, 0, 0, 1);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);}

h2, h3{
    color: rgb(255, 2, 120);
    text-transform: uppercase;}

.Welcome{
    text-align: center;
    background: linear-gradient(rgba(59, 59, 59, 0.527), rgba(0, 0, 0, 0.63)), url("img/Fondo.png");
    background-size: cover;
    background-position: center;}

.Welcome_image{
    max-width: 12em;
    max-height: 12em;
    border: 3px solid  rgb(255, 255, 255);
    border-radius: 100px;
    margin-top: 15px;}

.Welcome_title{
    margin: 15px 0px;
    text-transform: uppercase;}

.Presentation{
    width: 90vw;
    margin: auto;
    text-align: center;
}

.Abilities{
    width: 90vw;
    display: flex;
    margin: auto;
    text-align: center;}

.Abilities_item{
    width: 30%;
    margin:10px;
    text-align: center;
    background: linear-gradient(rgba(59, 59, 59, 0.685), rgba(0, 0, 0, 0.795)), url("img/fondo\ item.jpg");
    border-radius: 10px;}


